<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>{{name}}</title>
    <link rel="stylesheet" href="/internals/css/current_project.css">
    <link rel="stylesheet" href="/internals/css/index.css">
    <link rel="stylesheet" href="/internals/css/section-first.css">
    <link rel="stylesheet" href="/internals/css/adminPanel.css">
</head>

<body>

<div class="header-container">
    <a href="http://my-cabriolet.eu/"><img src="../../public/logo_cabriolet.png" alt="logo cabriolet"></a>

    <div class="header-container__content">
        <header>

            <div class="header__title-container">

                <p>Університети-бізнес кооперація</p>

            </div>

            <div class="header__logoNmenu-container">
                <div class="header__logoNmenu-container__logo">

                </div>

                <div class="header__logoNmenu-container__menu">
                    <ul>
                        <li><a href="/index">Головна</a></li>
                        <li><a href="/cases">Кейси</a></li>
                        <li><a href="/instruments">Інструменти</a></li>
                        <li><a href="/about_us">Про нас</a></li>
                        <li><a href="/guide">Гайд</a></li>
                        <li><a onclick="showWindow()">Увійти</a></li>
                    </ul>
                </div>
            </div>
        </header>
    </div>
    <a href="http://www.tempus.org.ua/"><img src="../../public/logo_tempus_white.png" alt="logo tempus"></a>
</div> x`

<section class="container">
    <div class="way">Головна / Кейси / {{name}}</div>
</section>
<section class="wrapper">
    <div class="title">{{name}}</div>
    <div class="text">{{tags}}</div>
    <div class="points">

        {{#each points as |point|}}
        <div class="subtitle">{{point.name}}</div>
        <div class="text">
            {{#each point.description as |desc|}}
            {{{desc}}}<br>
            {{/each}}
        </div>
        {{/each}}

    </div>

</section>
<footer>
    <!--<span>Computer systems and networks department <br>
        National Aerospace University "KhAI"</span>-->
    <div class="content">
        <div class="contactInfo">
            <div class="contactInfo__cntu">
                <p>Чернігівський Національний Технологічний Університет</p>
                <p>Адреса: вул. Шевченка 95, м. Чернігів, Україна, 14027</p>
                <p>Телефон: (+380 0462) 665-103</p>
                <p>E-mail: cstu@stu.cn.ua</p>
            </div>
            <div class="contactInfo__khai">
                <p>Національний аерокосмічний університет імені М. Є. Жуковського «Харківський авіаційний інститут»</p>
                <p>Адреса: вул. Чкалова 17,
                    м. Харків,
                    Україна, 61070</p>
                <p>Телефон: (57) 788-40-09</p>
                <p>E-mail: khai@khai.edu</p>
            </div>
        </div>
        <p>&#169; ЧНТУ, ХАІ, 2018</p>
    </div>
</footer>
<div id="authorization">
    <div id="openWindow">
        <h4>Введіть логін та пароль</h4>
        <h5 id="resultAuthorizationForm"></h5>
        <form id="authorizationForm">
            <label>логін: </label><input name="login" type="text" placeholder="login"><br>
            <label>пароль: </label><input name="pas" type="password" placeholder="******">
            <button onclick="backShowWindow(); return false">Назад</button>
            <button onclick="authorization(); return false">Увійти</button>
        </form>
    </div>
</div>
<script src="/internals/scripts/cases.js"></script>
<script src="/internals/scripts/adminPanel.js"></script>
</body>

</html>