html, body {

    height: 100%;
}

.header-container {
    /*flex: 1 0 auto;*/
}

.wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
}

footer {
    flex: 0 0 auto;
}

center {

    display: grid;
    width: 100%;
    margin: auto;
    background-size: cover;
    color: #000000;
}

.backpic {
    display: none;
    background: url("../../public/background_about_us.jpg") 0 -200px no-repeat;
    background-size: 100% auto;
}

.overlay {
    width: 100%;
    height: 100%;
    background: rgba(44, 62, 80, 0.41);
}

.center__title {
    margin-top: 45%;
    visibility: collapse;
}

.center_title {
    position: absolute;
    top: 90%;
    left: 45%;
    font-size: 400%;
    color: #fff;
    margin: 0 auto;
}

.submenu {
    font-family: 'Roboto Light', sans-serif;
    font-size: 20px;
    color: rgb(44, 62, 80);
}
.submenu > ul {
    padding: 0;
}

.li1 {
    display: inline;
    text-align: center;
    padding: 20px;
    margin: 0;
    width: 25%;
    color: rgb(44, 62, 80)
}

a {
    color: rgb(44, 62, 80);
}

.way {
    text-align: left;
    height: 8%;
    font-family: 'Roboto Light', sans-serif;
    font-size: 20px;
    font-weight: 300;
    line-height: 33px;
    margin-top: 5%;
    color: rgb(44, 62, 80);
}

.main-text {
    text-align: left;
    color: rgb(133, 133, 133);
    font-family: 'Roboto Light', sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 25px;
}