body  h5{
    font-size: 24px;
}

#form > * > *{
    margin: 5px;
    line-height: 20px;

}

#form {
    display: grid;
    grid-template-rows: 50px 50px 50px 50px 50px 50px;
}

#form > div > input[type="text"] {
    height: 34%;
}

#form > div {
    display: grid;
    grid-template-columns: 1fr 3fr;
}

#category {
    display: block;
    margin-top: 2%;
}

#form > div:last-child {
    display: block;
}

button{
    margin: 10px;
}
#containerForFullDescription {
    width: 400px;
}
#containerForFullDescription > div > *{
    margin: 5px;
}
textarea[name="shortDescription"]{
    width: 100%;
}
.adminContainer{
    display: grid;
    grid-column-gap: 80px;
    grid-template-columns: 1fr 2fr;
}

.adminContainer > div > h5 {
    font-size: 24px;
}

.addTagToCat {

    margin-top: 0px;
}

.adminContainer button{
padding: 2px 8px;
background-color: #2B3D4F;
color: #fff;
border: 1px solid  #2B3D4F;
}

.deleteCase > div:first-child {
    display: grid;
    grid-template-columns: 1fr 3fr;

}

.deleteCase {
    margin-bottom: 2%;
}

#formAddCategory {
    display: grid;
    grid-template-rows: 50px auto 50px;
    grid-row-gap: 20px;
}

#formAddCategory > div:first-child {
    display: grid;
    grid-template-columns: 1fr 3fr;
}

#formAddCategory > div:last-child {
    display: grid;
    grid-template-columns: 1fr 3fr;
}

#openWindow{
    padding-top: 5px;
    text-align: center;
    width: 300px;
    margin: 200px auto;
    background: rgba(255, 255, 255, 1);
    padding-bottom: 15px;
    border-radius: 10px;
    z-index: 100;
    opacity: 1;
}
#openWindow > form > *{
    margin: 5px;
}
#openWindow > form > button{
    margin: 10px;
    width: 80px;
    height: 30px;
}
#openWindow > form > button:hover{
    cursor: pointer;
}
#authorization{
    display: none;
    background: rgba(0, 0, 0, 0.7);
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
}


.editingMode {


}

#containerCasesListWithID{
    display: none;
    background: rgba(0, 0, 0, 0.7);
    position: fixed;
    height: 100%;
    left: 0;
    right: 0;
    top: 0;

}

.overScrollBar{
    height: 100%;
    overflow-y: scroll;
    width: 400px;
    margin: 10px auto;
}

#listCases{
    padding-top: 5px;
    text-align: center;
    overflow: auto;
    position: relative;
    width: 400px;
    height: 100%;
    background: rgba(255, 255, 255, 1);
    padding-bottom: 15px;
    z-index: 100;
    opacity: 1;
}

.headers-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}