.markup{
    display: grid;
    grid-template-columns: 1fr 2fr;
}
.currentHeader{
    background-color: #2B3D4F;
}
.caseContainer{
    width: 80%;
    margin: 0 auto;
}
#btnContainer > button{
    border: none;
    background-color: #2B3D4F;
    color: white;
    font-size: 20px;
}

