.wrapper {
    display: grid;
    grid-gap: 2%;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    font-family: Roboto;
    width: 55%;
    margin: auto;
    margin-bottom: 15px;
}
.wrapper > *{
    margin: 10px;
}

.way {
    font-family: Roboto Light;
    text-align: left;
    height: 8%;
    font-size: 20px;
    font-weight: 300;
    line-height: 33px;
    margin-top: 5%;
    margin-bottom: 5%;
    color: rgb(44, 62, 80);
    margin-left: 4%;
}

.title {
    text-align: center;
    font-family: Roboto;
    color: rgb(44, 62, 80);

    font-size: 33px;
    font-weight: 500;
    line-height: 55px;
}

.subtitle {
    color: rgb(44, 62, 80);
    font-family: Roboto Light;
    font-size: 23px;
    font-weight: 300;
    line-height: 25px;
    margin-bottom: 20px;
}

.text {
    font-family: Roboto Light;
    text-align: left;
    color: rgb(133, 133, 133);
    font-family: Roboto;
    font-size: 16px;
    font-weight: 300;
    line-height: 25px;
    margin-bottom: 20px;
}

.links {
    color: rgb(44, 62, 80);
    font-family: Roboto;
    font-size: 20px;
    font-weight: 300;
    line-height: 30px;
}



.img {
    width: 100%;
    float: left;
    overflow: hidden;
}


@media screen and (max-width: 720px) {

    .wrapper {
        width: 90%;
    }

}