.error-container   {
    text-align: center;
    margin-top: 13%;
}

.error-container > p {
    color: #2c3e50;
    font-size: 200px;
    margin: auto;
    font-weight: 500;
}

.error-container > span:first-child {
    font-size: 50px;
    font-weight: 500;
}

.error-container > span:last-child {
    color: #858585;
}

.button-home {
    margin: 10% auto;
    background-color: #2c3e50;
    width: 35%;
    padding: 3%;
    font-size: 23px;
    text-align: center;
    color: #ffffff;
}

#gohome-btn {
    text-decoration: none;
}
