@import url('https://fonts.googleapis.com/css?family=Roboto');

body{
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.content {
    width: 55%;
    margin: auto;
}

.container{
    margin-left: 20%;
    margin-right: 20%;
    width: 60%;
}
.objectives{
    text-align: center;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(4, 1fr);
}
.objectives > div > img{
    width: 100%;
}
.text-align{
    text-align: center;
    margin: 50px auto;
}
.ourProject{
    text-align: center;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(3, 1fr);
}
.ourProject > div > img{
    width: 100%;
    height: 150px;
}
.ourProject > div > a{
    float: right;
    color: black;
    text-decoration: none;
    font-size: 16px;
}
.ourProject > div > a:hover,
.ourProject > div > a:focus{
    text-decoration: underline;
}
.statistics{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
}
.twoLogos{
    margin: 30px;
    height: 150px;
}
.twoLogos > img:first-child{
    float: left;
    width: 40%;
}
.twoLogos > img:last-child{
    float: left;
    width: 60%;
}

footer{
    
    left: 0;
    right: 0;
    padding-top: 50px;
    color: white;
    background-color: #2c3e50;
    padding-bottom: 10px;
    text-align: center;
    font-size: 24px;
}

footer > div > span {
    line-height: 1.5;
}

.contactInfo {
    margin-top: 40px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-size: 18px;
    font-family: Roboto Light;
}
.contactInfo > *{
    margin: 5px;
    font-size: 12px;

    font-family: 'Roboto Light', sans-serif;
}
