.wrapper {
    display: grid;
    grid-gap: 1.5%;

    grid-template-rows: 1fr repeat(4, auto);
    font-family: Roboto Light;
    width: 55%;
    margin: auto;
    margin-bottom: 7%;
}

.way {
    font-family: Roboto Light;
    text-align: left;
    height: 8%;
    font-size: 20px;
    font-weight: 300;
    line-height: 33px;
    margin-top: 5%;
    margin-bottom: 6%;
    margin-left: 4%;
    color: rgb(44, 62, 80);
}

.title {
    text-align: left;
    font-family: Roboto;
    font-size: 23px;
    font-weight: 300;
    line-height: 33px;
    margin: auto;
    margin-bottom: 10px;
    font-weight: bold;
}

.text {
    font-family: Roboto Light;
    text-align: left;
    color: rgb(133, 133, 133);
    font-size: 16px;
    font-weight: 300;
    line-height: 25px;
}

img {
    margin: auto;
}

@media screen and (max-width: 720px) {

}