@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900&subset=cyrillic,cyrillic-ext');


body{
    margin: 0;
    font-family: 'Roboto', sans-serif;
    color: #2c3e50;
    height: 100%;
}

.content {
     width: 65%;
     /*max-width: 1000px;*/
     margin: auto;
}
.cursor:hover{
    cursor: pointer;
    text-decoration: underline;
}

.container{
    margin-left: 20%;
    margin-right: 20%;
    width: 60%;
}
.objectives{
    text-align: center;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(4, 1fr);

}

.objectives > div > span {
    font-size: 20px;
    font-weight: 300;
    line-height: 1.5;
    font-family: 'Roboto Light', sans-serif;
}

.objectives > div > p {
    font-size: 12px;
    color: #858585;
}

.objectives > div:last-child > p {
    margin-top: 19%;
}

.objectives > div > img{
    width: 100%;
}
.text-align{
    text-align: center;
    font-size: 48px;
    margin: 50px auto;
}
.ourProject{
    text-align: center;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(3, 1fr);
}
.ourProject > div > img{
    width: 100%;
    height: 150px;
    margin-bottom: 5%;
}
.ourProject > div > a{
    float: right;
    color: black;
    text-decoration: none;
    font-size: 16px;
}

.ourProject > div > a > b {
    font-weight: 500;
    color: #2c3e50;
}

.ourProject > div > p {
    margin-top: 1%;
    font-size: 14px;
    color: #858585;
}

.ourProject > div > span {
    font-family: 'Roboto Light', sans-serif;
    color: #2c3e50;
    font-size: 22px;
    line-height: 1.5;
    margin-top: 3%;

}

.ourProject > div > a:hover,
.ourProject > div > a:focus{
    text-decoration: underline;
}

.statistics{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
}

.statistics > div > h2{
    font-family: Roboto Light, sans-serif;
    font-size: 50px;
    font-weight: 300;
}

.statistics > div > h3 {
    font-family: 'Roboto Light', sans-serif;
    font-size: 30px;
    font-weight: 300;
}

.twoLogos{
    margin: 30px;
    height: 150px;
}

.twoLogos > img:first-child{
    float: left;
    width: 59%;
}
.twoLogos > img:last-child{
    float: left;
    width: 39%;
}

footer{
    padding-top: 15px;
    color: white;
    background-color: #2B3D4F;
    padding-bottom: 10px;
    text-align: center;
}

footer > span {
    font-size: 24px;
    font-family: Roboto Light, sans-serif;
    font-weight: 500;
    line-height: 1.5;
}

.contactInfo{
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-size: 13px;
}
.contactInfo > *{
    margin: 5px;
}

.contactInfo > div > p {
     font-weight: 300;
     font-family: 'Roboto Light', sans-serif;
}

.contactInfo > div > p:first-child {
    font-size: 16px;
}

.contactInfo__cntu {
     width: 70%;
     margin-left: 0;
     margin-right:auto;
     text-align: left;
}

.contactInfo__khai {
     width: 70%;
     margin-left: auto;
     margin-right: 0;
     text-align: left;
}

footer > .content > p {
     margin-top: 0;
     font-family: Roboto Light, sans-serif;
     font-size: 12px;
    text-align: center;
}

html, body {

    height: 100%;
}

.wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
}

footer {
    flex: 0 0 auto;
}

.section {
    flex: 1 0 auto;
    background-color: #2B3D4F;
}