.wrapper {
    display: grid;
    grid-gap: 5%;
    grid-row-gap: 20px;
    grid-template-columns: 3fr 9fr ;
    grid-template-rows: repeat(4, 1fr);
    font-family: 'Roboto Light', sans-serif;
    width: 55%;
    margin: auto;
}

.way {
    font-family: 'Roboto Light', sans-serif;
    text-align: left;
    height: 8%;
    font-size: 20px;
    font-weight: 300;
    line-height: 33px;
    margin-top: 5%;
    margin-bottom: 5%;
    color: rgb(44, 62, 80);
    margin-left: 4%;
}

.title {
    text-align: left;
    margin-bottom: 3%;
    font-family: 'Roboto Light', sans-serif;
    font-size: 50px;
    font-weight: 300;
    line-height: 50px;
}

.text {
    font-family: 'Roboto Light', sans-serif;
    text-align: left;
    color: rgb(133, 133, 133);
    font-size: 16px;
    font-weight: 300;
    line-height: 25px;
}

.img1 {
    grid-column: 1;
    grid-row: 1;
}

.text1 {
    grid-column: 2 / 3;
    grid-row: 1;
}

.img2 {
    grid-column: 1;
    grid-row: 2;
}

.text2 {
    grid-column: 2 / 3;
    grid-row: 2;
}

.img3 {
    grid-column: 1;
    grid-row: 3;
}

.text3 {
    grid-column: 2 / 3;
    grid-row: 3;
}

.img4 {
    grid-column: 1;
    grid-row: 4;
}

.text4 {
    grid-column: 2 / 3;
    grid-row: 4;
}

.instrument-container__title{
    margin: 1% auto;

}

 .instrument-container:first-child > .instrument-container__title {
    margin: 15% auto;!important;
}

.instrument-container__title > a {
    font-size: 37px;
    color: #2B3D4F;
    text-decoration: none;
}

.instrument-container__title > a:hover {
    text-decoration: underline;
}

.instrument-logo {
    height: 250px;
    width: 250px;
}
.instrument-logo-black {

    width: 250px;
    background: #2B3D4F;
}
.instrument-logo img {
    width: 62%;
}



