@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');

::-webkit-input-placeholder {color:#858585;  font-style:italic; font-family: 'Roboto Light italic', sans-serif;}
::-moz-placeholder          {color:#858585;  font-style:italic; font-family: 'Roboto Light italic', sans-serif;}/* Firefox 19+ */
:-moz-placeholder           {color:#858585;  font-style:italic; font-family: 'Roboto Light italic', sans-serif;}/* Firefox 18- */
:-ms-input-placeholder      {color:#858585;  font-style:italic; font-family: 'Roboto Light italic', sans-serif;}


p > hl {
    color: #7a7a7a;
}
/* -------------------- Захвати и central-content стили ---------------------------------*/
.central-content {
    display: grid;
    grid-template-columns: 3fr 7fr;
    grid-column-gap: 20px;
}

/*-----------------sidebar---------------------*/
.sidebar {
    float: left;
}

.navigator {
    margin-top: 50px;
}

.search {
    display: grid;
    grid-template-columns: 5fr 1fr;
}

.search > div > input {
    border: none;
    width: 90%;
}

.search > div:last-child {
    font-size: 24px;

}

.fa-search {
    float: right;
    color: #858585;

}
.sidebar > hr{
    margin-top: 0%;
}

.sorting > h2 {
    margin-top: 20%;
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
}

.filtering > h2 {
    margin-top: 20%;
    text-align: center;
    font-size: 35px;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
}

.filtering > h3 {

    text-align: center;


    font-family: 'Roboto Light', sans-serif;
}

.filtering__container {
    width: 90%;
    margin: auto;
}

.filtering__container > ul > li > input[type="checkbox"] {
    border: none;
}

.filtering__container__menu {
    font-family: "Roboto Light",sans-serif;
    font-size: 20px;
    font-weight: 300;
    color: #2c3e50;
}

.filtering__container__menu ul {
    margin: 0;
    list-style: none;
    font-size: 16px;
    padding-left: 20px;
    display: none;
}

.filtering__container__menu .filtering__container__menu__title::after {
    content: '▶ ';
    float: right;
    font-size: 80%;
    color: #2c3e50;
}

.filtering__container__menu.open .filtering__container__menu__title::after {
    content: '▼';
    color: #2c3e50;
    float: right;
}

.filtering__container__menu > ul > li {
    cursor: pointer;
}

.filtering__container__menu.open ul {
    display: block;
}

.filtering__container__menu__title {
    cursor: pointer;
}

.filtering__container__menu > ul > li > input.checkbox {
    margin-right: 3%;
}

div#filters {
    margin-bottom: 10%;
}
/*-------------------- projects area ----------------------*/

.section-cases {
    padding-bottom: 32%;
    flex: 1 0 auto;
}


.projects-container__project {
    margin-left: 4%;
    margin-bottom: 10%;
}

.projects-container__project > h2{
    margin-top: 0;
    color: #2c3e50;
    text-align: center;
    font-weight: 500;
    font-size: 35px;
}


.projects-container__project__description {
    color: #858585;
    margin-top: 4%;
    font-size: 14px;
}

.projects-container__project__description > p:last-child {
    text-align: right;
    color: #2c3e50;
    font-size: 16px;
    font-weight: 500;
}
/*--------------------- footer ----------------------------*/

.contactInfo__left {

    margin-left: 0;

}

.contactInfo__right {
    width: 100%;
    margin-right: 0;

}