
.section {
    background: url("../../public/main_logo.jpg") no-repeat;
    background-size: 100%;
    padding-bottom: 32%;
}

.header-container {
    background-color: #2B3D4F;
}

header {
    display: grid;
    grid-template-rows: 55px 50px;
    padding-top: 1%;
    width: 100%;
    margin: auto;
    color: #ffffff;
}
.defaultHeader{
    background-color: #2c3e50;

}

.header-container__content {
    width: 100%;
}

.header__title-container {
    margin: auto;
    width: 100%;
    text-align: center;
    float: left;

}


.header__title-container > p {
    font-size: 180%;
    margin-top: 9px;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 16px;
}

.header-container {
    display: grid;

    grid-template-columns: 2fr 4fr 2fr;
    grid-column-gap: 20px;
}

.header-container > a:first-child > img {
    max-width: 65%;
    margin: -5% 39%;

}

.header-container > a:last-child > img {
    max-width: 99%;
    margin-top: 4%;

}

.header__logoNmenu-container {

}

.header__logoNmenu-container__logo {
    width: 100%;
    /*background: url("../src/images/logo_cntu.png");*/
    /*background-size: cover;*/
    position: relative;
}

.header__logoNmenu-container__logo  > img {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 70%;
    max-width: 120px;
}

.header__logoNmenu-container__menu{
    height: 45px;
    font-family: 'Roboto Light', sans-serif;
    text-align: center;
}

.header__logoNmenu-container__menu > ul {
    padding-left: 0;
}

.header__logoNmenu-container__menu > ul > li{
    display: inline-block;
    margin-right: 9%;
}
.header__logoNmenu-container__menu > ul > li > a{
    color: white;
    text-decoration: none;
}

.header__logoNmenu-container__menu > ul>li:last-child {
    margin-right: 0;
    cursor: pointer;
}



/* End of header */

/*Central block*/
.center__title {
    margin-top: 15%;
    color: #ffffff;
    font-size: 35px;
    text-align: center;
    line-height: 1.5;
}

.center__button {
    margin: auto;
    width: 31%;
    /* border: 1px solid red; */
    background-color: #2c3e50;
    font-size: 30px;
    text-align: center;
    color: #fff;
    padding: 3% 4%;
}

.center_button:before {
    content:'';
    position: absolute;
    top: 0;
    left: 0;
    height: 42px;
    background: rgba(255,255,255,0.3);
    border-radius: 5px;
    transition: all 2s ease;
}

.center_button:hover:before {
    width: 100%;
}

.center > a {
    text-decoration: none;
}

#btnContainer{
    width: 40%;
    margin: 15px auto;
}
#btnContainer > button{
    border: none;
    border-radius: 3px;
    background-color: #2c3e50;
    color: white;
    text-align: center;
    font-size: 20px;
    margin: 4px;
}
#btnContainer > button:hover{
    cursor: pointer;
    background-color: darkslategray;
}

@media screen and (max-width: 1343px) {
    .content {
        width: 75%;
    }

    .header-container {
        grid-template-columns: 1fr 4fr 1fr;
        grid-column-gap: 5px;
    }

    .header__logoNmenu-container__menu > ul > li {

        margin-right: 7%;
    !important;
    }

    .header-container > a:last-child > img {
        margin-top: 15%;
    }

    .header-container > a:first-child > img {
        margin: 2% 39%;
    }
}
