@import url('https://fonts.googleapis.com/css?family=Roboto');

header {
    display: grid;
    width: 100%;
    margin: auto;
    color: #ffffff;
}

.section {
    width: 100%;
    height: 30%;
    background-color: #2c3e50;
}

.header__title-container {
    margin: auto;
    width: 100%;
    text-align: center;
    float: left;
    display: block;
}

.header__title-container>p {

    font-size: 40px;
    font-weight: bold;
    margin-top: 2%;
    margin-bottom: 1%;
}

.header__logoNmenu-container {
    display: grid;
    grid-template-columns: 1fr 5fr;
}

.header__logoNmenu-container__logo {
    width: 100%;
    /*background: url("../src/images/logo_cntu.png");*/
    /*background-size: cover;*/
    position: relative;
}

.header__logoNmenu-container__logo>img {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 101%;
}

.header__logoNmenu-container__menu>ul>li {
    display: inline-block;
    margin-right: 9%;
    color: #fffefe;
    font-family: Roboto Light;
    font-size: 20px;
}
.header__logoNmenu-container__menu > ul > li > a {
    color: #fffefe;
    font-family: Roboto Light;
    font-size: 20px;
}

.header__logoNmenu-container__menu>ul>li:last-child {
    margin-right: 0;
}


